.container {
  width: 50%;
  max-width: 1440px;
  height: 100vh;
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
