.container {
  width: 50%;
  max-width: 1440px;
  height: 100vh;
  @include mDesk {
    width: 70%;
  }
  @include tablet {
    width: 90%;
  }
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
